/* This file is for your main application css. */

@import "./phoenix.css";
@import "../../deps/phoenix_live_view/assets/css/live_view.css";

.signup {
  max-width: 80rem;
  margin: 20px auto;
}

.signup input {
  margin: 40px auto;
}

.header {
  grid-area: header;
}

.footer {
  border-top: 1px solid #EEE;
  padding-top: 10px;
  grid-area: footer;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  margin: 40px auto;
  grid-template-areas:
    "heading heading heading heading"
    "col1 col2 col3 col4";
}

.footer-header {
  grid-area: heading;
  margin: 0 auto 15px auto;
}

.footer-col1 {
  grid-area: col1;
}

.footer-col2 {
  grid-area: col2;
}

.footer-col3 {
  grid-area: col3;
}

.footer-col4 {
  grid-area: col4;
}

.game-area {
  grid-area: main;
}
.players {
  grid-area: left;
}
.standings {
  grid-area: right;
}

.inner-container {
  display: grid;
  grid-template-columns: 15% 60% 25%;
  grid-template-rows: auto;
  column-gap: 45px;
  row-gap: 1em;
  grid-template-areas:
    "header header header"
    "left main right"
    "footer footer footer";
}

ul {
  list-style: none;
}

.main-game-area {
  min-height: 250px;
}

.card-maker {
  margin-top: 30px;
}

.nav {
  list-style-type: none;
}

.nav-item {
  float: left;
  margin: 0 40px 50px 0;
}

.active-card {
  padding: 30px;
  background-color: #DDD;
  border: 1px solid #BBB;
  border-radius: 5px;
}

.active-card-action {
  font-size: 2.4em;
}

.active-card-points {
  font-size: 1.6em;
}

.dark-gray {
  color: #666;
}

.nav-item button {
  float: left;
}

.nav-wrapper {
  float: left;
}

.player-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px auto;
}

.player-actions button {
  margin: 0 30px;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content.dropdown-footer {
  margin-top: 30px;
}

.dropdown-content a {
  margin: 0 0 0 35px;
  padding: 3px;
  text-decoration: none;
  float: none;
  text-align: left;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.action-description-field {
  width: 50%;
  display: block;
  float: left;
  margin-right: 10px;
}

.points-field {
  width: 25%;
  display: block;
  float: left;
  margin-right: 10px;
}

.card-submit {
  width: 15%;
  display: block;
  float: left;
  margin-top: 30px;
}

.card-notice {
  width: 100%;
  float: left;
}

.big {
  font-size: 1.6em;
}

.red-bg {
  background-color: #A00;
  border: 1px solid #900;
}

.orange-bg {
  background-color: #FA0;
  border: 1px solid #E90;
}
